html {
    box-sizing: border-box;
}

body {
    /*    background-color: darkred;*/
    overflow: hidden;
    margin: 0;
}

img {
    width: 400px;
    height: 200px;
    transition: width 2s, height 2s;
}

canvas {
    display: block;
}

.intro {
    font-size: 20px;
    font-weight: 50px;
    position: absolute;
    color: aliceblue;
    left: 35vw
}
.info {
    font-size: 20px;
    font-weight: 50px;
    text-align: right;
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: aliceblue;
    left: 67vw;
    right: 1vw;
    margin-top:35vh;
    background-color: black;
}
.infoT {
    width: fit-content;
    left: 77vw;
    font-size:23px;}
    
.end {
    font-size: 20px;
    font-weight: 50px;
    position: absolute;
    color: aliceblue;
    left: 90vw;
    margin-top:90vh;
}

.text-container {
    margin-left: 50vw;
}

.text-container p {
   text-align: right;
    font-size: 50px;
    color: white;
    line-height: 0px;
}

.text-container div {
    position: absolute;
    background-color: black;
    width: fit-content;
    height: fit-content;
    margin-top: 50vh;
}

.one {
    top: -30vh
}

.two {
    top: -15vh
}

.three {
    top: 0vh
}
